.button{
  background-color: #fbeadc;
  color: #171717;
  margin-bottom: 10px;
  width: 110px;
}

#overlayimg{
  position: fixed;
  left: 0px;
  display: none;
  opacity: 1;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  cursor: pointer;
  z-index: 2;
}

#full-screen-menu-toggle, #full-screen-menu-toggle:hover {
  z-index: 3;
}

.fas{
  color: rgb(116, 92, 71, 0.5) !important;
  font-size: 25px !important;
}

.fas:hover{
  color: #767676 !important;
}


/*puls-container*/

div.puls {
    z-index: 3;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgb(240, 189, 147,0.7);
    position: absolute;
    left: 60px;
    top: 60px;
    margin: -10px 0 0 -10px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(3.2, 3.2); opacity: 0.0;}
}
div.puls-middle {
    z-index: 3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    left: 35px;
    top: 35px;
    margin: 0;
    padding:10px;

}

@media (min-width: 280px) {

  #full-screen-menu-toggle {
    z-index: 3;
  }

  .fas{
    color: rgb(116, 92, 71, 0.5) !important;
    font-size: 25px !important;
  }

  #overlayimg{
    top: 60px;
  }

  div.puls {
    left: 40px;
    top: 160px;
  }

  div.puls-middle {
    left: 15px;
    top: 135px;
  }

@media (min-width: 450px) {

  div.puls {
    z-index: 1000;
    left: 385px;
    top: 30px;
  }

  div.puls-middle {
    z-index: 1000;
    left: 360px;
    top: 5px;
  }

}

@media (min-width: 700px) {

  #header{
    z-index: 0;
  }

  #full-screen-menu-toggle {
    z-index: 3;
  }

  div.puls {
    left: 425px;
    top: 30px;
  }

  div.puls-middle {
    left: 400px;
    top: 5px;
  }
}

@media (min-width: 768px) {

  div.puls {
    left: 425px;
    top: 40px;
  }

  div.puls-middle {
    left: 400px;
    top: 15px;
  }

}

@media (min-width: 1400px) {

  div.puls {
    left: 60px;
    top: 40px;
  }

  div.puls-middle {
    left: 35px;
    top: 15px;
  }

}
